.DS_Store
.metadata
.svn

junitvmwatcher*.properties
build.properties
TEST-*.xml
junit*.properties


aynth.core/solutions/*/classes_gen
aynth.core/solutions/*/source_gen
aynth.core/solutions/*/source_gen.caches

aynth.core/languages/*/classes_gen
aynth.core/languages/*/source_gen
aynth.core/languages/*/source_gen.caches

data/samples/piano/*.aiff

# eclipse project temp files
*/.metadata

# output folders of the c eclipse projects.
eclipse/*/Debug
eclipse/*/Release

*/*.iws


# C compiler artifacts
*.o

aynth/Debug